Client/Client/Service References/ServiceReference/BookStore.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookStore" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookStore" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BookInfo" nillable="true" type="tns:BookInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBookInfo" nillable="true" type="tns:ArrayOfBookInfo" />
  <xs:complexType name="BookInfo">
    <xs:sequence>
      <xs:element minOccurs="0" name="book" nillable="true" type="tns:Book" />
      <xs:element minOccurs="0" name="borrowDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="returnDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BookInfo" nillable="true" type="tns:BookInfo" />
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element minOccurs="0" name="bookID" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="tns:Status" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Book" nillable="true" type="tns:Book" />
  <xs:complexType name="Status">
    <xs:sequence>
      <xs:element minOccurs="0" name="borrowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
</xs:schema>