Client/Client/Service References/ServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/BookStore" />
  <xs:element name="getListOfBorrowedItems">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getListOfBorrowedItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BookStore" minOccurs="0" name="getListOfBorrowedItemsResult" nillable="true" type="q1:ArrayOfBookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBorrowedBooks">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBorrowedBooksResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BookStore" minOccurs="0" name="getBorrowedBooksResult" nillable="true" type="q2:ArrayOfBookInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BookStore" minOccurs="0" name="getBookResult" nillable="true" type="q3:Book" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrowBook">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookID" type="xs:int" />
        <xs:element minOccurs="0" name="userID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="borrowBookResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="borrowBookResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>